<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Story 9 PPW{% endblock %}</title>
</head>
<body>
  <main>
    HAI BUJANQ<br>
    LOGIN KOEY
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>